* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightgray;
    font-family: sans-serif;
    align-items: center;
}

main {
    margin-top: 20px;
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px gray;
}

input {
    border: none;
    border-bottom: 1px solid gray;
    font-size: 18px;
}

ul {
    font-size: 30px;
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-content: center;
}

li {
    cursor: pointer;
    background-color: black;
    color: white;
    justify-content: center;
    align-content: center;
    border: #a90015 2px solid;
    font-family: fantasy;
}
  
.checked {
    color: gray;
    text-decoration: line-through;
}
  
.hide {
    visibility: hidden;
}

button {
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    font-weight: bold;
    background: #a90015;
    border: black 2px solid;
    color: white;
    margin-left: 20px;
    vertical-align: middle;
}